@import "./styles/index.module.scss";

.main {
  background-color: $blue-color;
  height: fit-content;
  min-height: calc(100vh - 90px);
  padding: 30px 20px;

  .singleAlbum_container {
    display: flex;
    color: $light-color;

    .singleAlbum_left {
      width: 500px;

      .cover {
        width: 500px;
        margin-bottom: 30px;
      }

      .song {
        display: flex;

        span {
          font-weight: 500;
          margin-right: 20px;
        }
      }
    }
  }

  .singleAlbum_right {
    width: 100%;
    margin-left: 70px;

    .album_info {
      .hr {
        border-top: 3px solid $pink-color;
      }

      .info {
        display: flex;
        width: 300px;
        margin: 15px 0;
        font-size: 18px;

        span {
          min-width: 130px;
        }
      }
    }
  }

  .rating {
    margin-top: 50px;
  }

  .comments_container {
    margin-top: 50px;

    .add_comment {
      display: flex;
      flex-direction: column;

      h4 {
        margin-bottom: 20px;
      }

      textarea {
        resize: none;
        width: 600px;
        height: 140px;
        padding: 20px;
        background-color: $light-color;
        color: $blue-color;

        &::placeholder {
          color: $blue-color;
        }
      }

      button {
        color: $light-color;
        background-color: $green-color;
        border: none;
        padding: 15px 20px;
        width: 220px;
        margin-top: 20px;
      }
    }

    .comments {
      margin-top: 50px;

      h4 {
        margin-bottom: 15px;
      }

      .comment {
        background-color: $light-color;
        padding: 20px;
        width: 600px;
        color: $blue-color;
        margin-bottom: 50px;

        .user {
          color: $pink-color;
        }
      }
    }
  }
}
